@use '../../styles/variables.scss';

.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: variables.$spacing-lg;

	&__spinner {
		display: inline-block;
		border-radius: 50%;
		border: 2px solid rgba(variables.$primary-color, 0.3);
		border-top-color: variables.$primary-color;
		animation: spin 1s ease-in-out infinite;
	}

	&--small &__spinner {
		width: 16px;
		height: 16px;
	}

	&--medium &__spinner {
		width: 32px;
		height: 32px;
	}

	&--large &__spinner {
		width: 48px;
		height: 48px;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
